body {
  font: 16px Arial;
  background-color: #ddd;
  color: #333; }

article {
  background-color: #fff;
  border: 2px solid #ccc;
  padding: 20px;
  width: 400px; }
  article h2 {
    color: #54E279; }
    article h2.votar {
      display: none; }
