doctype
html(lang="es")

include includes/header.pug
	h1 lalas
	include includes/footer.pug
	body
		h1 insertar codigo PUG
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio esse similique totam fuga veniam deleniti ratione dolores alias quibusdam? Temporibus expedita veniam harum sint, rerum nobis. Suscipit molestias nobis quasi!
		body
		h1 lass
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa at architecto maiores ut, incidunt placeat nemo explicabo provident blanditiis alias necessitatibus, veritatis, odio quia. Harum quo ea cupiditate magni doloremque.
		include includes/footer.pug

