doctyp
	html(lang="es")
		head
			meta(charset="utf-8")
			block title
				title Titulo por defecto
		body
			block article
			article
			h1 Encabezado por defecto
			p Texto por defecto
				block scripts
					script(scrc='js/jquery.js')
		 		
	
