doctype
html(lang='es')
	head
		meta(charset='utf-8')
		title Documento HTML 5

	body
		h1 Documento HTML 5
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum delectus, similique nam rem ullam harum libero reiciendis voluptatem. Quia officia ad dolorum quod hic dolore nostrum, doloribus deleniti pariatur. Sapiente?

		//atributos el linea
		a (class='button',href='google.com', target='_blank')Google
		//atributos en multilinea
		input
		type=type='checkbox'
		name='agreement'
		checked
		

		
	
        

