doctype
html(lang='es')
	head
		meta(charset='utf-8')
		title Atributos de Etiquetas

	body
		<h1>Atributos de etiqueta</h1>
		hr

	//-atributos el linea
	a(class="link")




		//atributos boleanos



		
	
        

