doctype
html(lang='es')
	head
		meta(charset='utf-8')
		title Estilos CSS
		style.
			section.bandera{
			height:200px;
			margin:200px;
			with:400px;
			}
			div
				height:80px;
			}
			div.amarillo{
			background-color: #ff0;
			}
			div.azul{
			backround-color: #00f;
			}
			div.rojo{
			background-color: #f00;
			}
			div.amarillo.alto{
			eight:80px;
			}

	body
		h1 estilos CSS
		hr
		section.bandera
		div.amarillo.alto
		div.azul
		div.rojo




		


		
	
        

