doctype
html(lang='es')
	head
		meta(charset='utf-8')
		title javaScript
		hr
		h2#respuesta
		script.
			var res = documento.getElementById('respuesta');
			var pre = prompt('cuanto es 5 + 6');
			if (pre==11){
				ress.innerHTML="respuesta correcta!";
				} else {
				res.innerHTML="respuesta incorrecta!";
				}
		


		


		
	
        

