doctyp
	html(lang='es')
		head
		meta(charset='utf-8')
		title Documento HTML 5
		body
		//- atributos en linea
		h1 Atributos en linea

	a(class='button' href='google.com' target='_blank') Google

		//-atributos multilinea
		imput(
			type='checkbox'
			name='agreement'
			checked
				)
			
		//-atributos boleanos
		imput(type='checkbox' checked)
		imput(type='checkbox' checked='true')
		imput(type='checkbox' checked='false')
