doctyp
	html(lang='es')
		head
		meta(charset='utf-8')
		title Documento HTML 5
		body
		//- atributos en linea
		h1 Atributos en linea

	a(class='button' href='google.com' target='_blank') Google