	doctype
		html(lang="es")
		head
			meta(charset)	
			title casos
			body
				h1 casos
				hr
					ul
						-var goles = 0
						case goles
							when 0
								li <strong> no tiene goles 
								when1
								when2
									li tiene 1-2 goles
								when 3
									li tiene 3 goles en contra
								default 
									li tiene #{goles}  goles en contra
			






		


