doctpe
html(lang="es")
	head
		meta(charsete="utf-8")
		title comentarios
	body
		h1
		hr
		//comentarios line(se ne el marcado
		br
		//-comentario linea PUG(No se ve en el marcado)
		br
		//
				comentario de Bloque( se ve en el marcado)
		   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil quo, suscipit sed? Natus amet blanditiis nobis nemo, est delectus, quis quod culpa sed perferendis unde sequi? Cumque numquam iusto, reiciendis.
		br
		//-comentario de Bloque( se ve en el marcado)
		  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil quo, suscipit sed? Natus amet blanditiis nobis nemo, est delectus, quis quod culpa sed perferendis unde sequi? Cumque numquam iusto, reiciendis.

		

		 

