extends includes/layout.put

block title
	title Herencia en PUG

block article
	h1 Herencia en PUG
	P  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dolor quisquam, in exercitationem esse. Nihil commodi delectus ex repellat, nemo cum nisi illum hic libero, eveniet praesentium beatae impedit explicabo!
block append scripts
	script(src='js/bootstrap.js')
